body{
    margin: 0px;
    padding-left: 90px;
    padding-top: 135px;
    font-family: Roboto , Arial;
    
}








.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: white;
    z-index: 250;
    
    

    
    
}
.left_section{
    display: flex;
    align-items: center;    
}
.middle_section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    width: 0px;
}




.right_section{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  
}
.logoimg{
width: 120px;
height: 50px;

}
.menuimg{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.searchbox{
    width: 400px;
    height: 40px;
    flex: 1;
    padding-left: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(192,192,192);
    border-radius: 20px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);


}
.voicesearchimg{
    width: 20px;
    height: 20px;
}
.serchicon{
    height: 20px;
}
.searchbutton{
    height: 41px;
    width: 50px;
    border-radius: 0px 20px 20px 0px;
    border-width: 1px;
    margin-left: -15px;
    margin-right: 10px;
    border-color: rgb(116, 114, 114);
}
.voicesearchbutton{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;

}
.createbutton{
    width: 40px;
    height: 34px;
    border: none;
    background-color: azure;
}
.createbuttonimg{
    width: 20px;
    height: 20px;
}
.profilepicimg{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.profilepicbutton{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: azure;
}
.notificationbutton{
border: none;
background-color: azure;
}

.btn1{
    
    font-size: 14px;
    border-radius: 10px; 
    margin-right: 14px;
    border: 0; 
    font-weight: 500;
    padding: 12px 12px;
    background-color: rgb(251, 249, 252);
    width:auto;
    cursor: pointer;


}
.button_select
{
    height:50px;
    position: fixed;
    left: 80px;
    right:0px;
    top: 55px;
    z-index: 60;
    background-color: white;
    margin-left: 10px;
    padding-top:14px;
    padding-bottom:20px;
    
   
}


.arrow img{
    height: 20px;
    width: 30px;
  cursor: pointer;
}










.thumbnail{
    position: relative;
}

.thumbnailimg{
    width: 100%;
    
}
.channelpicimg{
   width: 40px;
  border-radius: 50px;
    
}
.videogrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 40px;
}
.videoinfo{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.videoheading{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}
.channelname,.timeinfo{
font-size: 13px;
color: rgb(96, 96, 96);
}
.channelname{
    margin-bottom: 4px;
}

.sidebar{

width: 70px;
position:fixed;
top: 100px;
left: 0;
bottom: 0;
background-color: rgb(247, 250, 251);


}
.sidebarlink{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;

}
.sidebar img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar p{
    font-size: 10px;
}

.video-time{
    background-color: rgba(0,0,0,0.4);
    color: aliceblue;
    position: absolute;
    bottom: 10px;
    right: 5px;
  
    
}

.final-button{
    border: none;
    background-color: aliceblue;
}
.time-data{
    background-color:rgba(14, 8, 8, 0.491);
     color: white;
      position: absolute;
       bottom: 10px;
        right: 15px;
}